body {
	margin: 0;
	padding: 0;
}

.large-image {
    border: 2px solid #ffffff;
    
}
.large-image:hover .controls,
.controls:hover {
	opacity: 1;
}

.controls {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-30px);
	transition: all .15s ease-in-out;
	width: 100%;
}
.controls .prev-button,
.controls .next-button {
	background-color: #ffffff;
	/*border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;*/
	cursor: pointer;
	height: 25px;
	outline: none;
	opacity: 0.6;
	position: absolute;
	transition: all .15s ease-in-out;
	width: 50px;
}
.controls .prev-button:hover,
.controls .next-button:hover {
	background-color: #027cc5;
}
.controls .prev-button {
	padding: 15px 15px 15px 10px;
	left: 0;
}
.controls .next-button {
	padding: 15px 10px 15px 15px;
	right: 0;
}
.controls .prev-button.inactive,
.controls .next-button.inactive {
	background-color: rgba(220,220,220,1);/*rgba(123,123,123,.6)*/;
}
.controls .prev-button.inactive:hover,
.controls .next-button.inactive:hover {
	/*background-color: rgba(123,123,123,.7);*/
}
.controls svg {
	fill: #027cc5;
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
}
.controls svg:hover {
	fill: #ffffff;
}
.thumbnails {
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
    margin-top: 20px;
}
.thumbnails > div {
	margin: 5px;
    border: 1px solid #ffffff;
}
.thumbnails > div.active {
	border: 2px solid #ffffff;
    box-shadow: 0px 0px 15px gray;
}
